<a href="https://colab.research.google.com/github/natewoods1221/Data-Science-1002/blob/main/Assignments/07_More_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More pandas exercises

Create a Colab notebook. Complete the tasks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

1.  Load the following dataset into Colab and perform the requested operations in code.

 Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [2]:
# Load pandas and the data
import pandas as pd
df = pd.read_csv('/content/ride_sharing (4).csv')
print(df.head())

     duration  station_A_id  \
0  12 minutes            81
1  24 minutes             3
2   8 minutes            67
3   4 minutes            16
4  11 minutes            22

                                      station_A_name  station_B_id  \
0                                 Berry St at 4th St           323
1       Powell St BART Station (Market St at 4th St)           118
2  San Francisco Caltrain Station 2  (Townsend St...            23
3                            Steuart St at Market St            28
4                              Howard St at Beale St           350

                    station_B_name  bike_id  user_type  user_birth_year  \
0               Broadway at Kearny     5480          2             1959
1  Eureka Valley Recreation Center     5193          2             1965
2    The Embarcadero at Steuart St     3652          3             1993
3     The Embarcadero at Bryant St     1883          1             1979
4             8th St at Brannan St     4626          2             1994

  user_gender  tire_size
0        Male         26
1        Male         27
2        Male         29
3        Male         26
4        Male         27

In [3]:
# show how many rows and columns are in this dataset
num_rows, num_cols = df.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_cols)

Number of rows: 25760
Number of columns: 10

In [7]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)
df['duration'] = pd.to_numeric(df['duration'], errors='coerce')
df = df.dropna(subset=['duration'])
df['duration'] = df['duration'].astype('int64')

In [8]:
# Now display the datatypes in the updated dataframe
print(df.dtypes)

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [13]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.
missing_values = df['duration'].isnull().sum()
non_numeric_values = df['duration'].apply(lambda x: not isinstance(x, (int, float))).sum()

if missing_values > 0:
    print("Warning: There are", missing_values, "missing values in the 'duration' column.")

if non_numeric_values > 0:
    print("Warning: There are", non_numeric_values, "non-numeric values in the 'duration' column.")

# Remove missing and non-numeric values before calculating min and max
cleaned_duration = df['duration'].dropna().astype(float)

if len(cleaned_duration) == 0:
    print("Error: There are no valid numeric values in the 'duration' column.")
else:
    min_duration = cleaned_duration.min()
    max_duration = cleaned_duration.max()

    print("Minimum ride duration:", min_duration)
    print("Maximum ride duration:", max_duration)

Error: There are no valid numeric values in the 'duration' column.

In [ ]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.

In [ ]:
# Now show both the min and max values of the duration column for your new dataset.

In [ ]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.

In [ ]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.

2. Find the file `more-messy-data.csv` on GitHub and upload it into Google Colab.

Create a new Pandas DataFrame from that data and perform the following steps.

In [ ]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.

In [ ]:
# Next, remove all duplicate rows using Python.

In [ ]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean.

In [ ]:
# Find any values in the dataframe that are still missing, and delete them.

In [ ]:
# How many different species are there?

In [ ]:
# Clean up the 'species' variable so that there are exactly three different values.

3. Bonus:  Regular expressions

Ordinary (non-vanity) Virginia license plates have the form `ABC1234`, meaning they have three upper case letters followed by four digits.  Write a regular expression that matches any string of this form (and doesn't match anything else).  Test your expression with code to make sure it works.

To figure out out how to do this, start with the sample code below.  The `re` package has various functions related to regular expressions, including for example `match()`, which takes two arguments, first the regular expression and second the test string, and tests to see whether the *beginning* of the `test` string matches the pattern `exp`.

Note that `re.match(exp,test)` does not return a boolean variable, as you might expect (in other words, a match doesn't return `True` and a non-match `False`).  The type of object you get is called `re.Match`, which is a data type special to the `re` package.  (The reason for this is that the object contains more information than just whether there is a match or not.) However, you can turn it into a boolean using `bool()` if you want.

Include the following in the notebook you submit:

 1. A regular expression in a text chunk
 2. One or more code chunks in which you test several strings to verify that your regex is correct.
 3. Make sure you display the results of testing various strings.

 See this [documentation page](https://docs.python.org/3/howto/regex.html#regex-howto) for further help.

In [ ]:
# Sample code for testing whether a string matches a regex

# First import this package for working with regular expressions
import re

# Here is an example.
# Play around with different expressions and test strings to see what happens.
exp = 'ab+'
test = 'aabbbc'

if re.match(exp,test):
  print("match!")
else:
  print("no match")

# uncomment this line if you want
# print(type(re.match(exp,test)))

# uncomment this line if you want
# print(bool(re.match(exp,test)))